<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="Your notes&hellip;"></textarea>
    <input type="submit" value="Take Note!">
  </form>
</section>

<% @notes.each do |note| %>
  <article <%= 'class="complete"' if note.complete %>>
    <p>
      <%= note.content %>
      <span><a href="/<%= note.id %>">[edit]</a></span>
    </p>
    <p class="links">
      <a href="/<%= note.id %>/complete">&#8623;</a>
    </p>
    <p class="meta">Created: <%= note.created_at %></p>
    <% if note.created_at != note.updated_at %>
      <p class="meta">Updated: <%= note.updated_at %></p>
    <% end %>
  </article>
<% end %>